/*
 * @changed 2026.09.23, 00:46
 */

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Preview/create shadcn themes:
 * https://ui.shadcn.com/create
 */

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Extra screen breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 320px;
  /* Other generated variables */
  --color-background: #090b0c;
  --color-foreground: #f9fbfb;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: #67787c;
  --color-sidebar-border: #ffffff1a;
  --color-sidebar-accent-foreground: #f9fbfb;
  --color-sidebar-accent: #22292b;
  --color-sidebar-primary-foreground: #052f4a;
  --color-sidebar-primary: #00a6f4;
  --color-sidebar-foreground: #f9fbfb;
  --color-sidebar: #161b1d;
  --color-chart-5: #5d0ec0;
  --color-chart-4: #7008e7;
  --color-chart-3: #7f22fe;
  --color-chart-2: #8e51ff;
  --color-chart-1: #c4b4ff;
  --color-ring: #67787c;
  --color-input: #ffffff26;
  --color-border: #ffffff1a;
  --color-destructive: #ff6467;
  --color-accent-foreground: #f9fbfb;
  --color-accent: #22292b;
  --color-muted-foreground: #9ca8ab;
  --color-muted: #22292b;
  --color-secondary-foreground: #fafafa;
  --color-secondary: #27272a;
  --color-primary-foreground: #f0f9ff;
  --color-primary: #00598a;
  --color-popover-foreground: #f9fbfb;
  --color-popover: #161b1d;
  --color-card-foreground: #f9fbfb;
  --color-card: #161b1d;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: #ffffff;
  --card-foreground: #090b0c;
  --popover: #ffffff;
  --popover-foreground: #090b0c;
  --primary: #0069a8;
  --primary-foreground: #f0f9ff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f1f3f3;
  --muted-foreground: #67787c;
  --accent: #f1f3f3;
  --accent-foreground: #161b1d;
  --destructive: #e7000b;
  --border: #e3e7e8;
  --input: #e3e7e8;
  --ring: #9ca8ab;
  --chart-1: #c4b4ff;
  --chart-2: #8e51ff;
  --chart-3: #7f22fe;
  --chart-4: #7008e7;
  --chart-5: #5d0ec0;
  --radius: 0.625rem;
  --sidebar: #f9fbfb;
  --sidebar-foreground: #090b0c;
  --sidebar-primary: #0084d1;
  --sidebar-primary-foreground: #f0f9ff;
  --sidebar-accent: #f1f3f3;
  --sidebar-accent-foreground: #161b1d;
  --sidebar-border: #e3e7e8;
  --sidebar-ring: #9ca8ab;
}

.dark {
  --background: #090b0c;
  --foreground: #f9fbfb;
  --card: #161b1d;
  --card-foreground: #f9fbfb;
  --popover: #161b1d;
  --popover-foreground: #f9fbfb;
  --primary: #00598a;
  --primary-foreground: #f0f9ff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #22292b;
  --muted-foreground: #9ca8ab;
  --accent: #22292b;
  --accent-foreground: #f9fbfb;
  --destructive: #ff6467;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #67787c;
  --chart-1: #c4b4ff;
  --chart-2: #8e51ff;
  --chart-3: #7f22fe;
  --chart-4: #7008e7;
  --chart-5: #5d0ec0;
  --sidebar: #161b1d;
  --sidebar-foreground: #f9fbfb;
  --sidebar-primary: #00a6f4;
  --sidebar-primary-foreground: #052f4a;
  --sidebar-accent: #22292b;
  --sidebar-accent-foreground: #f9fbfb;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #67787c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
